<!DOCTYPE html>
<html>
<head>
	<title>Add New User</title>
</head>
<body>

	<form action="/users" method="post">
		<input type="hidden" name="authenticity_token" value="token_value">	
		<input type="text" name="name" placeholder="Enter name">
		<button type="submit">Add User</button>

	</form>

</body>
</html>